.App {
  text-align: center;
  background: #333333;
  color: whitesmoke;
}

.player-list {
  background:rgb(230, 230, 30);
}

.player-card {
  border: 1px solid black;
  border-radius:15px;
  margin:20px;
  width:66%;
  margin:1% auto;
  background:rebeccapurple;
  color:whitesmoke;
}

.dark-mode {
  background: #333333;
  color: white;
  border:1px solid gold;
}

.player-list .dark-mode {
  background: dimgrey;
}
